@page "/sms/templates"

@attribute [MustHavePermission(FSHAction.View, FSHResource.SMS)]
 
<FshTitle Title="Message Templates" Description="Manage Message Templates" />

<EntityTable @ref="_table" TEntity="MessageTemplateDetail" TId="int" TRequest="MessageTemplateUpdateRequest" Context="@Context">
    <ExtraActions>
        <MudDivider />
        @*<MudMenuItem Icon="@Icons.Filled.Contacts" OnClick="@(() => ViewRecepients(context.Id))">@((context.ShowRecepients == true) ? "Hide" : "Show") Recepients</MudMenuItem>*@
        <MudMenuItem Icon="@Icons.Filled.CopyAll" OnClick="@(() => MessageTemplateCopy(context.Message))" OnTouch="@(() => MessageTemplateCopy(context.Message))">Copy Message</MudMenuItem>
        <MudMenuItem Icon="@Icons.Filled.ContentCopy" OnClick="@(() => MessageTemplateDuplicate(context))" OnTouch="@(() => MessageTemplateDuplicate(context))">Duplicate</MudMenuItem>
        <MudMenuItem Icon="@Icons.Filled.Send" OnClick="@(() => SendSMS(@context))" OnTouch="@(() => SendSMS(@context))">Send</MudMenuItem>
    </ExtraActions>
    <EditFormContent>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <MudSelect T="string" Label="Template Type" @bind-Value="context.TemplateType" For="@(() => context.TemplateType)" Variant="Variant.Filled">
                <MudSelectItem Value="@("ADVISORY")" />
                <MudSelectItem Value="@("POWER INTERRUPTION")" />
                <MudSelectItem Value="@("OTHERS")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <MudSelect T="string" Label="Message Type" @bind-Value="context.MessageType" For="@(() => context.MessageType)" Variant="Variant.Filled">
                <MudSelectItem Value="@("sms.automatic")" />
                <MudSelectItem Value="@("sms.automatic.flash")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <MudSwitch Class="mt-3" Label="Use m360 API (Default:SIM)" For="@(() => context.IsAPI)" @bind-Checked="context.IsAPI" Color="Color.Tertiary"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <MudSwitch Class="mt-3" Label="Fast Mode" For="@(() => context.IsFastMode)" @bind-Checked="context.IsFastMode" Color="Color.Tertiary" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Subject" For="@(() => context.Subject)" @bind-Value="context.Subject" Variant="Variant.Filled" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Counter=160 Immediate=true HelperText="Recommended SMS is up to 160 characters" Label="Message" For="@(() => context.Message)" @bind-Value="context.Message" Lines="5" Variant="Variant.Filled" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Recepients" For="@(() => context.Recepients)" @bind-Value="context.Recepients" Lines="10" Variant="Variant.Filled" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Description" For="@(() => context.Description)" @bind-Value="context.Description" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Notes" For="@(() => context.Notes)" @bind-Value="context.Notes" />
        </MudItem>
    </EditFormContent>

    <ChildRowContent>
        @if (context.ShowRecepients)
        {
            <MudTr>
                <td colspan="6">
                    <MudCard Elevation="@_preference.Elevation" style="margin: 10px !important;">
                        @*<MudCardHeader>
                            <CardHeaderContent>
                                <MudAlert Severity="Severity.Info" Typo="Typo.body1">
                                    @L["Details for Tenant"] :
                                    <strong>@context.Id</strong>
                                </MudAlert>
                            </CardHeaderContent>
                        </MudCardHeader>*@
                        <MudCardContent>
                            <table class="mud-table-root">
                                <tbody class="mud-table-body">
                                    <tr class="mud-table-row">
                                        <MudText>@context.Recepients</MudText>
                                    </tr>
                                </tbody>
                            </table>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</EntityTable>

@code {
    private RenderFragment<MessageTemplateDetail> TemplateDescriptionNotes => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.caption">@context.Description</MudText>
            <MudText Typo="Typo.caption">@context.Notes</MudText>
        </MudItem>
    };
}