<EditForm Model="@_ticket" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <CustomValidation @ref="_customValidation" />
    <MudGrid>
        @*<MudItem xs="12" sm="6" md="4" lg="3">
            <AutocompleteGroup For="@(() => _ticket.GroupId)" @bind-Value="_ticket.GroupId" />
        </MudItem>*@
        <MudItem xs="12">
            <MudTextField Label="Name" For="@(() => _ticket.Name)" @bind-Value="_ticket.Name" Variant="Variant.Filled" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Description" For="@(() => _ticket.Description)" @bind-Value="_ticket.Description" Variant="Variant.Filled" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Notes" For="@(() => _ticket.Notes)" @bind-Value="_ticket.Notes" />
        </MudItem>

        <MudItem xs="4">
            <MudSelect Label="Impact" For="@(() => _ticket.Impact)" @bind-Value="_ticket.Impact">
                <MudSelectItem Value="@("MINOR")" />
                <MudSelectItem Value="@("MAJOR")" />
                <MudSelectItem Value="@("CRITICAL")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="4">
            <MudSelect Label="Urgency" For="@(() => _ticket.Urgency)" @bind-Value="_ticket.Urgency">
                <MudSelectItem Value="@("LOW")" />
                <MudSelectItem Value="@("MID")" />
                <MudSelectItem Value="@("HIGH")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="4">
            <MudSelect Label="Priority" For="@(() => _ticket.Priority)" @bind-Value="_ticket.Priority">
                <MudSelectItem Value="@("LOW")" />
                <MudSelectItem Value="@("MID")" />
                <MudSelectItem Value="@("HIGH")" />
            </MudSelect>
        </MudItem>

        <MudItem xs="12" md="8">
            <AutocompleteEmployee Label="Requested By" For="@(() => _ticket.RequestedBy)" @bind-Value="_ticket.RequestedBy" />
        </MudItem>
        <MudItem xs="6" md="2">
            <MudSelect T="string" Label="Through" For="@(() => _ticket.RequestThrough)" @bind-Value="_ticket.RequestThrough">
                <MudSelectItem Value="@("CHAT APP")" />
                <MudSelectItem Value="@("PERSONAL")" />
                <MudSelectItem Value="@("PHONE")" />
                <MudSelectItem Value="@("SYSTEM")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="6" md="2">
            <MudTextField Label="Reference" For="@(() => _ticket.Reference)" @bind-Value="_ticket.Reference" />
        </MudItem>

        <MudItem xs="12" md="8">
            <AutocompleteEmployee Label="Assigned To" For="@(() => _ticket.AssignedTo)" @bind-Value="_ticket.AssignedTo" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudTextField Label="Status" For="@(() => _ticket.Status)" @bind-Value="_ticket.Status" ReadOnly=true Variant="Variant.Outlined" />
        </MudItem>

        <MudItem>
            <MudButton Color="Color.Primary" Class="ml-auto" StartIcon="@Icons.Material.Filled.Send" Variant="Variant.Filled"
                       ButtonType="ButtonType.Submit">Save Changes</MudButton>
        </MudItem>

        @*<MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="@_preference.Elevation">
                <MudCardContent Style="padding:0px!important">
                    <div class="d-flex justify-center mb-4">
                        @if (!string.IsNullOrEmpty(_imageUrl))
                        {
                            <MudAvatar Square="true" Image="@_imageUrl" Style=" width:100%;height:auto;"> </MudAvatar>
                        }
                        else
                        {
                            <MudAvatar Square="true" Color="Color.Primary" Style="width:100%;height:300px;">X</MudAvatar>
                        }
                    </div>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <InputFile id="fileInput" OnChange="UploadFiles" hidden accept=".jpg,.jpeg,.png" />
                    <div style="padding-bottom:20px">
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.CloudUpload" for="fileInput">
                            Upload
                        </MudButton>
                        @if (!string.IsNullOrEmpty(_imageUrl))
                        {
                            <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                                   StartIcon="@Icons.Material.Filled.RemoveRedEye" Link="@_imageUrl" Style="margin-left: 5px;">
                                View
                            </MudButton>

                            <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" OnClick="RemoveImageAsync" Style="margin-left: 5px;">
                                Delete
                            </MudButton>
                        }

                    </div>

                </MudCardActions>
            </MudCard>
        </MudItem>*@
    </MudGrid>
</EditForm>