@page "/sms/contacts"
@attribute [MustHavePermission(FSHAction.View, FSHResource.Contacts)]

<FshTitle Title="Contacts" Description="Manage Contacts" />

<EntityTable MultiSelection=true @ref="_table" SelectedItems="@_selectedItems" TEntity="ContactDto" TId="int" TRequest="ContactViewModel" Context="@Context">
    <ExtraActions>
        <MudDivider/>
        <MudButton EndIcon="@Icons.Filled.CopyAll" IconColor="Color.Secondary" OnClick="@(() => OnCopyPhoneNumbersChecked())" >Copy Phone Numbers</MudButton>
    </ExtraActions>

    <EditFormContent>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <AutocompleteContactType For="@(() => context.ContactType)" @bind-Value="context.ContactType" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudTextField Label="Account Code" For="@(() => context.AccountCode)" @bind-Value="context.AccountCode" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudTextField Label="Phone Number" For="@(() => context.PhoneNumber)" @bind-Value="context.PhoneNumber" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Name" For="@(() => context.Name)" @bind-Value="context.Name" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Address" For="@(() => context.Address)" @bind-Value="context.Address" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Description" For="@(() => context.Description)" @bind-Value="context.Description" Lines="2"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Notes" For="@(() => context.Notes)" @bind-Value="context.Notes" Lines="3"/>
        </MudItem>

        <MudItem xs="12" md="12">
            <MudItem>
                @if(!string.IsNullOrEmpty(context.ImageInBytes))
                {
                    <MudAvatar Image ="@context.ImageInBytes" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
                else
                {
                    <MudAvatar Image="@(string.IsNullOrEmpty(@context.ImagePath) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + @context.ImagePath))" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
            </MudItem>
            <MudItem>
                <div>
                    <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                        StartIcon="@Icons.Filled.CloudUpload" for="fileInput">
                        Upload
                    </MudButton>
                    @if(!Context.AddEditModal.IsCreate && !string.IsNullOrEmpty(context.ImagePath) && string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Filled.RemoveRedEye" Link="@(Config[ConfigNames.ApiBaseUrl] + @context.ImagePath)" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                            StartIcon="@Icons.Filled.Delete" OnClick="SetDeleteCurrentImageFlag" Style="margin-left: 5px;" >
                            Delete
                        </MudButton>
                    }
                    @if(!string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" DisableElevation OnClick="ClearImageInBytes" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Filled.Clear" Style="margin-left: 5px;" >
                            Clear
                        </MudButton>
                    }
                </div>
                <InputFile id="fileInput" hidden OnChange="UploadFiles" />
            </MudItem>
        </MudItem>
    </EditFormContent>
</EntityTable>

@code {
    private RenderFragment<ContactDto> TemplatePhoneNumber => context => __builder =>
    {
        <MudItem>
            <MudChip Icon="@Icons.Material.Filled.Phone" IconColor="Color.Secondary" Label="true" Color="Color.Surface">@context.PhoneNumber</MudChip>
        </MudItem>
    };

    private RenderFragment<ContactDto> TemplateNameAddress => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle1" >@context.Name</MudText>
            <MudText Typo="Typo.caption">@context.Address</MudText>
        </MudItem>
    };

    private RenderFragment<ContactDto> TemplateDescriptionNotes => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle1">@context.Description</MudText>
            <MudText Typo="Typo.caption">@context.Notes</MudText>
        </MudItem>
    };
}