@page "/payroll/employeeadjustments"
@page "/payroll/employeeadjustments/{employeeId:guid}"

@attribute [MustHavePermission(FSHAction.View, FSHResource.Payroll)]

<FshTitle Title="Employee Adjustments" Description="Employee Adjustment Management" />

<MudBreadcrumbs Items="_breadcrumbs" />

<EntityTable @bind-SearchString=_searchString @ref=_table TEntity="EmployeeAdjustmentDto" TId="Guid" TRequest="EmployeeAdjustmentViewModel" Context=Context>
    <AdvancedSearchContent>
        @if (_canViewEmployees)
        {
            <MudItem Class="mt-1">
                <AutocompleteEmployee @bind-Value="SearchEmployeeId" />
            </MudItem>
        }
    </AdvancedSearchContent>

    <EditFormContent>
        <MudItem xs="12" sm="6">
            <AutocompleteAdjustment For="@(() => context.AdjustmentId)" @bind-Value="context.AdjustmentId" />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudSelect Label="Payment Schedule" For="@(() => context.PaymentSchedule)" @bind-Value="context.PaymentSchedule" Variant="Variant.Filled">
                <MudSelectItem Value="@("PAYROLL")" />
                <MudSelectItem Value="@("MID")" />
                <MudSelectItem Value="@("END")" />
                <MudSelectItem Value="@("SCHEDULE")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudNumericField Label="Amount" For="@(() => context.Amount)" @bind-Value="context.Amount" Format="N2" InputMode="InputMode.numeric" Variant="Variant.Filled" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <SfDatePicker TValue="DateTime"
                          @bind-Value="context.StartDate"
                          CssClass="e-bigger e-filled mt-1"
                          Format="MMMM dd, yyyy"
                          FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto"
                          Placeholder="Start Date"
                          ShowTodayButton=true />
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <SfDatePicker TValue="DateTime"
                          @bind-Value="context.EndDate"
                          CssClass="e-bigger e-filled mt-1"
                          Format="MMMM dd, yyyy"
                          FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto"
                          Placeholder="End Date"
                          ShowTodayButton=true />
        </MudItem>

        <MudItem xs="12">
            <MudTextField Label="Description" For="@(() => context.Description)" @bind-Value="context.Description" Lines="1" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Notes" For="@(() => context.Notes)" @bind-Value="context.Notes" Lines="2" />
        </MudItem>

        <MudItem xs="12">
            <MudItem>
                @if (!string.IsNullOrEmpty(context.ImageInBytes))
                {
                    <MudAvatar Image="@context.ImageInBytes" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
                else
                {
                    <MudAvatar Image="@(string.IsNullOrEmpty(@context.ImagePath) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + @context.ImagePath))" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
            </MudItem>
            <MudItem>
                <div>
                    <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Filled.CloudUpload" for="fileInput">
                        Upload
                    </MudButton>
                    @if (!Context.AddEditModal.IsCreate && !string.IsNullOrEmpty(context.ImagePath) && string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                               StartIcon="@Icons.Material.Filled.RemoveRedEye" Href="@(Config[ConfigNames.ApiBaseUrl] + @context.ImagePath)" Style="margin-left: 5px;">
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.Delete" OnClick="SetDeleteCurrentImageFlag" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                    @if (!string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" OnClick="ClearImageInBytes" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                               StartIcon="@Icons.Material.Filled.Clear" Style="margin-left: 5px;">
                            Clear
                        </MudButton>
                    }
                </div>
                <InputFile id="fileInput" hidden OnChange="UploadImage" />
            </MudItem>
        </MudItem>
    </EditFormContent>

</EntityTable>

@code
{
    private RenderFragment<EmployeeAdjustmentDto> TemplateImage => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudAvatar Image="@(string.IsNullOrEmpty(@context.ImagePath) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + @context.ImagePath))" Rounded=true Style="height: 80px; width: 80px;"> </MudAvatar>
        </MudItem>
    };

    private RenderFragment<EmployeeAdjustmentDto> TemplateName => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle2">
                <MudHighlighter Text="@context.AdjustmentType" HighlightedText="@_searchString" />
            </MudText>
            <MudText Typo="Typo.caption">
                <MudHighlighter Text="@context.AdjustmentName" HighlightedText="@_searchString" />
            </MudText>
        </MudItem>
    };

    private RenderFragment<EmployeeAdjustmentDto> TemplateDate => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.caption">
                @context.StartDate.ToString("MMMM dd, yyyy")
            </MudText>
            <MudText Typo="Typo.subtitle2">
                @context.EndDate.ToString("MMMM dd, yyyy")
            </MudText>
        </MudItem>
    };

    private RenderFragment<EmployeeAdjustmentDto> TemplateDescriptionNotes => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle2">
                <MudHighlighter Text="@context.Description" HighlightedText="@_searchString" />
            </MudText>
            <MudText Typo="Typo.caption">
                <MudHighlighter Text="@context.Notes" HighlightedText="@_searchString" />
            </MudText>
        </MudItem>
    };
}