<MudExpansionPanel HideIcon="true">
    <TitleContent>
        <div class="d-flex">
            <MudText Class="mt-1">Table Customization</MudText>
            <MudAvatar Color="Color.Primary" Class="d-flex ml-auto"
                style="width: 30px;height:30px;font-size:small!important">T
            </MudAvatar>
        </div>
    </TitleContent>
    <ChildContent>
        <MudSwitch T="bool" Color="Color.Tertiary" Label="Fixed Header" @oninput="@ToggleFixedHeaderFooterSwitch"
                   @bind-Checked="@IsFixedHeaderFooter" />
        <MudSwitch T="bool" Color="Color.Tertiary" Label="Allow Unsorted" @oninput="@ToggleAllowUnsortedSwitch"
                   @bind-Checked="@IsAllowUnsorted" />

        <MudSwitch T="bool" Color="Color.Tertiary" Label="Dense" @oninput="@ToggleDenseSwitch"
                   @bind-Checked="@IsDense" />
        <MudSwitch T="bool" Color="Color.Tertiary" Label="Striped" @oninput="@ToggleStripedSwitch"
                   @bind-Checked="@IsStriped" />
        <MudSwitch T="bool" Color="Color.Tertiary" Label="Bordered" @oninput="@ToggleBorderedSwitch"
                   @bind-Checked="@HasBorder" />
        <MudSwitch T="bool" Color="Color.Tertiary" Label="Hoverable" @oninput="@ToggleHoverableSwitch"
                   @bind-Checked="@IsHoverable" />

        <MudSwitch T="bool" Color="Color.Tertiary" Label="Multi-Selection" @oninput="@ToggleMultipleSelectionSwitch"
                   @bind-Checked="@IsMultiSelection" />
        <MudSwitch T="bool" Color="Color.Tertiary" Label="Virtualize" @oninput="@ToggleVirtualizeSwitch"
                   @bind-Checked="@IsVirtualize" />
    </ChildContent>
</MudExpansionPanel>