@page "/hr/employees"

@attribute [MustHavePermission(FSHAction.View, FSHResource.Employees)]

<FshTitle Title="Employees" Description="Employee Management" />

<EntityTable @bind-SearchString="@_searchString" @ref="_table" TEntity="EmployeeDto" TId="Guid" TRequest="EmployeeViewModel" Context="@Context">
    <AdvancedSearchContent>
        <MudItem Class="mt-3">
            <AutocompletePayroll @bind-Value="SearchPayrollId" />
        </MudItem>
    </AdvancedSearchContent>
    <ExtraActions>
        @if (_canViewRoleClaims)
        {
            <MudDivider />
            <MudMenuItem OnClick="@(() => Navigation.NavigateTo($"/hr/employers/{context.Id}"))">Employers</MudMenuItem>
            <MudMenuItem OnClick="@(() => Navigation.NavigateTo($"/hr/dependents/{context.Id}"))">Dependents</MudMenuItem>
            <MudMenuItem OnClick="@(() => Navigation.NavigateTo($"/hr/designations/{context.Id}"))">Designations</MudMenuItem>
            <MudMenuItem OnClick="@(() => Navigation.NavigateTo($"/hr/powerbills/{context.Id}"))">Power Bill</MudMenuItem>
            <MudDivider />
            <MudMenuItem OnClick="@(() => Navigation.NavigateTo($"/payroll/attendance/{context.Id}/{SearchPayrollId}"))">Attendance</MudMenuItem>
            <MudMenuItem OnClick="@(() => Navigation.NavigateTo($"/payroll/loans/{context.Id}"))">Loans</MudMenuItem>
            <MudMenuItem OnClick="@(() => Navigation.NavigateTo($"/payroll/employeeadjustments/{context.Id}"))">Adjustments</MudMenuItem>
            <MudMenuItem OnClick="@(() => EmployeePayrollGenerate(context.Id, SearchPayrollId))">Generate Payroll</MudMenuItem>
            <MudMenuItem OnClick="@(() => NavigatePage("/payroll/employeepayrolldetails", context.Id, SearchPayrollId))">Payroll Details</MudMenuItem>
        }
    </ExtraActions>
    <EditFormContent>
        <MudItem xs="12">
            <MudItem>
                @if (!string.IsNullOrEmpty(context.ImageInBytes))
                {
                    <MudAvatar Image="@context.ImageInBytes" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
                else
                {
                    <MudAvatar Image="@(string.IsNullOrEmpty(@context.ImagePath) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + @context.ImagePath))" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
            </MudItem>
            <MudItem>
                <div>
                    <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Filled.CloudUpload" for="fileInput">
                        Upload ID Picture
                    </MudButton>
                    @if (!Context.AddEditModal.IsCreate && !string.IsNullOrEmpty(context.ImagePath) && string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                                   StartIcon="@Icons.Material.Filled.RemoveRedEye" Link="@(Config[ConfigNames.ApiBaseUrl] + @context.ImagePath)" Style="margin-left: 5px;">
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" OnClick="SetDeleteCurrentImageFlag" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                    @if (!string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" OnClick="ClearImageInBytes" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                                   StartIcon="@Icons.Material.Filled.Clear" Style="margin-left: 5px;">
                            Clear
                        </MudButton>
                    }
                </div>
                <InputFile id="fileInput" hidden OnChange="UploadFiles" />
            </MudItem>
        </MudItem>

        <MudItem xs="12">
            <MudItem Class="d-flex">
                <MudText Typo="Typo.subtitle1">Effectivity: </MudText>
                <MudText Typo="Typo.subtitle1" Class="ml-2">@String.Format("{0:MMMM dd, yyyy}", context.StartDate) </MudText>
                <MudText Typo="Typo.subtitle1" Class="ml-2">Area: </MudText>
                <MudText Typo="Typo.subtitle1" Class="ml-2">@context.Area</MudText>
            </MudItem>
            <MudItem Class="d-flex">
                <MudText Typo="Typo.subtitle1">Department: </MudText>
                <MudText Typo="Typo.subtitle1" Class="ml-2">@context.Department</MudText>
            </MudItem>
            <MudItem Class="d-flex">
                <MudText Typo="Typo.subtitle1">Section: </MudText>
                <MudText Typo="Typo.subtitle1" Class="ml-2">@context.Section</MudText>
            </MudItem>
            <MudItem Class="d-flex">
                <MudText Typo="Typo.subtitle1">Designation: </MudText>
                <MudText Typo="Typo.subtitle1" Class="ml-2">@context.Position</MudText>
            </MudItem>
        </MudItem>

        <MudItem xs="6" sm="4" md="3">
            <MudTextField Label="ID Number" For="@(() => context.Number)" @bind-Value="context.Number" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="6" sm="4" md="3">
            <MudSelect Label="Gender" For="@(() => context.Gender)" @bind-Value="context.Gender" Variant="Variant.Filled">
                <MudSelectItem Value="@("MALE")" />
                <MudSelectItem Value="@("FEMALE")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="6" sm="4" md="3">
            <AutocompleteTitle For="@(() => context.Title)" @bind-Value="context.Title" />
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudTextField Label="First Name" For="@(() => context.FirstName)" @bind-Value="context.FirstName" Placeholder="Juan" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudTextField Label="Middle Name" For="@(() => context.MiddleName)" @bind-Value="context.MiddleName" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudTextField Label="Last Name" For="@(() => context.LastName)" @bind-Value="context.LastName" Placeholder="Dela Cruz" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="6" sm="4" md="3">
            <AutocompleteExtension For="@(() => context.Extension)" @bind-Value="context.Extension" />
        </MudItem>
        <MudItem xs="6" sm="4" md="3">
            <AutocompleteCivilStatusEmployee For="@(() => context.CivilStatus)" @bind-Value="context.CivilStatus" Variant="Variant.Filled"/>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudTextField Label="Email Address" For="@(() => context.Email)" @bind-Value="context.Email" Placeholder="employee@zaneco.com.ph" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField Label="Phone Number" For="@(() => context.PhoneNumber)" @bind-Value="context.PhoneNumber" Placeholder="+63912456789" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Home Address" For="@(() => context.Address)" @bind-Value="context.Address" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudDatePicker Label="Birth Date" For="@(() => context.BirthDate)" @bind-Date="context.BirthDate" DateFormat="MMMM dd, yyyy" MinDate="@DateTime.Today.AddYears(-60)" MaxDate="@DateTime.Today.AddYears(-17)" Variant="Variant.Filled" />
        </MudItem>
        <MudItem xs="12" sm="6">
            <AutocompleteBirthPlace For="@(() => context.BirthPlace)" @bind-Value="context.BirthPlace" />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudDatePicker Label="Date Hired" For="@(() => context.HireDate)" @bind-Date="context.HireDate" DateFormat="MMMM dd, yyyy" MinDate="context.BirthDate" MaxDate="@DateTime.Today" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudDatePicker Label="Date Regularized" For="@(() => context.RegularDate)" @bind-Date="context.RegularDate" DateFormat="MMMM dd, yyyy" MinDate="context.HireDate" MaxDate="@DateTime.Today" />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudTextField Label="Social Security System (SSS)" For="@(() => context.Sss)" @bind-Value="context.Sss" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudTextField Label="PhilHealth (PHIC)" For="@(() => context.Phic)" @bind-Value="context.Phic" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudTextField Label="PAG-IBIG (HDMF)" For="@(() => context.Hdmf)" @bind-Value="context.Hdmf" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudTextField Label="Tax Identification Number (TIN)" For="@(() => context.Tin)" @bind-Value="context.Tin" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="6" sm="4" md="3">
            <MudSelect Label="Blood Type" For="@(() => context.BloodType)" @bind-Value="context.BloodType" Variant="Variant.Filled">
                <MudSelectItem Value="@("A")" />
                <MudSelectItem Value="@("B")" />
                <MudSelectItem Value="@("AB")" />
                <MudSelectItem Value="@("O")" />
                <MudSelectItem Value="@("N/A")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="6" sm="4" md="3">
            <AutocompletePayThrough Label="Pay Through" For="@(() => context.PayThrough)" @bind-Value="context.PayThrough" />
        </MudItem>

        <MudItem xs="12">
            <MudTextField Label="Emergency Person" For="@(() => context.EmergencyPerson)" @bind-Value="context.EmergencyPerson" Placeholder="Juan Dela Cruz" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Emergency Address" For="@(() => context.EmergencyAddress)" @bind-Value="context.EmergencyAddress" />
        </MudItem>
        <MudItem xs="6">
            <AutocompleteEmergencyRelation For="@(() => context.EmergencyRelation)" @bind-Value="context.EmergencyRelation" />
        </MudItem>
        <MudItem xs="6">
            <MudTextField Label="Emergency Number" For="@(() => context.EmergencyNumber)" @bind-Value="context.EmergencyNumber" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Father Name" For="@(() => context.FatherName)" @bind-Value="context.FatherName" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Mother Name" For="@(() => context.MotherName)" @bind-Value="context.MotherName" />
        </MudItem>

        <MudItem xs="12">
            <AutocompleteEducation For="@(() => context.Education)" @bind-Value="context.Education" Variant="Variant.Filled"/>
        </MudItem>
        <MudItem xs="12">
            <AutocompleteCourse For="@(() => context.Course)" @bind-Value="context.Course" />
        </MudItem>
        <MudItem xs="12">
            <AutocompleteAward For="@(() => context.Award)" @bind-Value="context.Award" />
        </MudItem>

        <MudItem xs="12">
            <MudTextField Label="Description" For="@(() => context.Description)" @bind-Value="context.Description" Lines="3" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Notes" For="@(() => context.Notes)" @bind-Value="context.Notes" Lines="3" />
        </MudItem>
    </EditFormContent>
</EntityTable>

@code
{
    private RenderFragment<EmployeeDto> TemplateHireDate => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.body1">@context.HireDate.ToString("MMM dd, yyyy")</MudText>
            <MudText Typo="Typo.caption">@DisplayLegnthOfService(context.HireDate)</MudText>
        </MudItem>
    };

    private RenderFragment<EmployeeDto> TemplateRegularDate => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.body1">@context.RegularDate.ToString("MMM dd, yyyy")</MudText>
            <MudText Typo="Typo.caption">@DisplayLegnthOfService(context.RegularDate)</MudText>
        </MudItem>
    };

    private RenderFragment<EmployeeDto> TemplateNameAddress => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle1">
                <MudHighlighter Text="@context.FullName" HighlightedText="@_searchString" />
            </MudText>
            <MudText Typo="Typo.caption">
                <MudHighlighter Text="@context.Address" HighlightedText="@_searchString" />
            </MudText>
        </MudItem>
    };

    private RenderFragment<EmployeeDto> TemplateAreaDepartment => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle1">
                <MudHighlighter Text="@context.Area" HighlightedText="@_searchString" />
            </MudText>
            <MudText Typo="Typo.caption">
                <MudHighlighter Text="@context.Department" HighlightedText="@_searchString" />
            </MudText>
        </MudItem>
    };

    private RenderFragment<EmployeeDto> TemplatePositionType => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle1">
                <MudHighlighter Text="@context.Position" HighlightedText="@_searchString" />
            </MudText>
            <MudText Typo="Typo.caption">
                <MudHighlighter Text="@context.EmploymentType" HighlightedText="@_searchString" />
            </MudText>
        </MudItem>
    };

    private RenderFragment<EmployeeDto> TemplateDescriptionNotes => context => __builder =>
    {
        <MudItem Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle1">
                <MudHighlighter Text="@context.Description" HighlightedText="@_searchString" />
            </MudText>
            <MudText Typo="Typo.caption">
                <MudHighlighter Text="@context.Notes" HighlightedText="@_searchString" />
            </MudText>
        </MudItem>
    };
}