@page "/dashboard"

@attribute [MustHavePermission(FSHAction.View, FSHResource.Dashboard)]

@inject IStringLocalizer<Dashboard> L

<FshTitle Title="@L["Dashboard"]" Description="@L["Realtime Updates & Insights with SignalR"]" />

@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="@_preference.Elevation" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.People" Color="Color.Primary" Class="mx-4"
                Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Registered Accounts"]</MudText>
                    <MudText Typo="Typo.h5">@RegisteredCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="@_preference.Elevation" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Sms" Color="Color.Secondary" Class="mx-4"
                Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Through SMS"]</MudText>
                    <MudText @bind-Value="@SmsCount" Typo="Typo.h5">@SmsCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="@_preference.Elevation" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Web" Color="Color.Tertiary" Class="mx-4"
                     Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Through WEB"]</MudText>
                    <MudText @bind-Value="@WebCount" Typo="Typo.h5">@WebCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        
        <MudItem xs="12" sm="12" md="8">
            <MudPaper Elevation="@_preference.Elevation" Class="pa-4" Style="height:500px;">
                <MudChart ChartType="ChartType.Bar" ChartSeries="@_dataEnterBarChartSeries" ChartOptions="@_chartOptions"
                          XAxisLabels="@_dataEnterBarChartXAxisLabels.Select(a => L[a].Value).ToArray()" Width="90%"
                          Height="400px"/>
            </MudPaper>
        </MudItem>

        <MudItem>
            <MudButton Class="ma-1" Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => LoadDataAsync())">
                <MudItem Class="d-flex flex-row">
                    @if (_busy)
                    {
                        <MudProgressCircular Color="Color.Tertiary" Indeterminate=true Size="Size.Small" />
                    }
                <MudText Class="ml-2">@L["Refresh"]</MudText>
                </MudItem>
                

            </MudButton>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="@_preference.Elevation" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.ManageAccounts" Color="Color.Success" Class="mx-4"
                Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Application Users"]
                    </MudText>
                    <MudText Typo="Typo.h5">@UserCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="@_preference.Elevation" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Groups" Color="Color.Warning" Class="mx-4"
                Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Application Roles"]
                    </MudText>
                    <MudText Typo="Typo.h5">@RoleCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        
    </MudGrid>
}